h1{
  text-align: center;

}

.optionPanel {
  display: flex;
  justify-content: center;
  background-color: #00dabf;
  color: white;
}

.optionPanel div{
  padding: 6px;
}

.gamePanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
}

.grid img {
  margin: 25px;
  padding: 15px;
  width: 130px;
  height: 130px;
  border: 1px solid #e0e2e4;
  border-radius: 4px;
  box-shadow: 2px 2px 8px 2px #c5ced5;
}

.grid img:hover {
  transform: scale(1.05);
}

.grid img:hover {
  transform: rotateZ(20px)
}

.winEffect {
  animation: heartBeat;
  animation-duration: 1s;
}


.hidden {
  border: none !important;
  box-shadow: none !important;

}