body {
  font-family: 'Fredoka One', cursive;
}

h1 {
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.blue{
  color: #00e4cf;
}

.red{
  color: #fd5c70;
}

.optionPanel {
  display: flex;
  justify-content: center;
  color: white;
}

.iceTopic{
  background-color: #00e4cf;
  ;
}

.animalTopic{
  background-color: #fd5c70;
}

.optionPanel div {
  padding: 8px;
  
}

#topic, #level {
  font-family: 'Fredoka One', cursive;
  border-radius: 5px;
  font-size: 12px;
  padding: 2px;
  cursor: pointer;
}

.gamePanel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 900px;
}

.grid img {
  margin: 25px;
  padding: 9px;
  width: 130px;
  height: 130px;
  border: 1px solid #e0e2e4;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 2px #c5ced5;
  cursor: pointer;
}

.grid img:hover {
  transform: scale(1.05);
}

.grid img:hover {
  transform: rotateZ(20px)
}

.winEffect {
  animation: heartBeat;
  animation-duration: 1s;
}


.hidden {
  border: none !important;
  box-shadow: none !important;

}